<h2>{{tea.name}}</h2>

<div class="">
  {{tea.name}}, {{tea.type}}, and does it have caffine? {{tea.caffine}}
</div>
<a href="{{tea.id}}/edit">Edit</a>
<a href="/{{tea.id}}/delete">Delete</a>
<a href="/">Home</a>
